.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;

  display: flex;
  align-items: center;

  .content {
    margin: 0 auto;
    background: linear-gradient(to bottom, #252525, #191919);
    box-sizing: border-box;
    padding: 2rem;
  }
}
