.timeline-container {
  display: grid;
  grid-template-rows: 100%;
  grid-auto-columns: 2rem;
  height: 100%;
  width: 100%;
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;

  background-image: linear-gradient(225deg, #33333399, #36364499),
    url('../../connectwork.png');
  background-attachment: fixed;
  filter: blur(2px);
}
