.party-setup {
  min-width: 40%;
  min-height: 25.375rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    button {
      background: inherit;
      color: inherit;
      border: solid #fff2 1px;
      border-radius: 15px;
      padding: 10px;
      user-select: none;

      &:hover {
        background: #fff2;
      }

      &:focus {
        outline: none;
      }

      &:active {
        box-shadow: 0 0 10px #fff9;
      }
    }
  }
}

.party-view {
  border: solid #fff2 1px;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  margin: 0 1rem;
  width: 8.25rem;

  &:first-child {
    margin-left: 0;
  }

  .player-symbols {
    display: flex;
    align-items: center;
    position: relative;

    .job-icon {
      width: 3rem;
      user-select: none;
    }
    .eye {
      width: 3rem;
      font-size: 1.8rem;
      text-align: center;
    }
    .delete {
      width: 2rem;
      font-size: 1rem;
      text-align: center;
    }
  }

  &-wrapper {
    height: inherit;
    display: flex;
    flex-direction: row;
  }
}

.job-palette {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: auto;
  border: solid #fff2 1px;
  border-radius: 15px;
  padding: 10px;
  position: relative;

  .job-icon {
    width: 2.5rem;
    user-select: none;
  }

  .tank {
    grid-row: 1;
  }

  .healer {
    grid-row: 2;
  }

  .melee {
    grid-row: 3;
  }

  .ranged {
    grid-row: 4;
  }

  .caster {
    grid-row: 5;
  }

  &-wrapper {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.react-draggable {
  cursor: grab;

  &-dragging {
    z-index: 2000;
    filter: drop-shadow(5px 5px 10px black);
    cursor: grabbing;
  }
}
