.contextMenu {
  position: fixed;
  background: white;
  box-shadow: 0px 2px 10px #999999;
  z-index: 100;
  text-align: left;

  &--option {
    padding: 2px 50px 1px 10px;
    min-width: 160px;
    cursor: default;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background: linear-gradient(to top, #555, #333);
      color: white;
    }

    &:active {
      color: #e9e9e9;
      background: linear-gradient(to top, #555, #444);
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }

    img {
      max-height: 30px;
      position: relative;
      top: 2px;
    }

    .red-x {
      font-size: 22px;
      position: relative;
      left: 42px;
    }

    .resource-info {
      position: relative;
      right: -42px;
      font-size: 20px;

      .symbol {
        font-size: 22px;
      }
    }

    :nth-child(2) {
      flex-grow: 1;
    }

    &:last-child {
      padding-bottom: 5px;
    }

    &:first-child {
      padding-top: 6px;
    }
  }

  &--separator {
    width: 100%;
    height: 1px;
    background: #cccccc;
    margin: 2px 0 2px 0;
  }

  &--label {
    padding: 2px 50px 1px 10px;
    min-width: 160px;
    cursor: default;
    font-size: 14px;

    display: flex;
    // justify-content: space-between;
    align-items: center;

    .symbol {
      font-size: 22px;
      min-width: 30px;
      text-align: center;
    }
  }
}
