.horizontal-slider {
  appearance: none;
  background: #777;
  border-radius: 5px;
  height: 25px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: #888;
  }
  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 21px;
    border-radius: 3px;
    background: #252525;
    cursor: pointer;
  }
}

.zoom {
  &-label {
    padding: 0 .5rem;
  }
  &-readout {
    padding: 0 .5rem;
    width: 4em;
  }
}
