.file-menu {
  grid-row: 2 / span 2;
  grid-column: 1 / span 3;
  background-image: linear-gradient(225deg, #22222299, #26263499);
  backdrop-filter: blur(2px);
  color: #ccc;

  .empty {
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .file {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 2rem;
    padding: 0.5rem 1rem;
    > {
      grid-row: 1;
    }
    .fight {
      grid-column: 1;
      text-align: left;
    }
    .name {
      grid-column: 2;
      text-align: left;
    }
    .modified {
      grid-column: 3;
      text-align: right;
    }
    &:nth-child(even) {
      background: #fff2;
    }
    &:hover {
      background: #fff5;
    }
  }
}
