body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background: url('./connectwork.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  width: 1366px;
  height: 100vh;
  grid-template-rows: 3rem calc(50% - 3rem) calc(50% - 3rem);
  grid-template-columns: calc(25% - 2rem) 41rem 25%;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  margin: 0 auto;
}

