.navbar {
  grid-row: 1;
  grid-column: 1 / -1;
  height: 100%;
  position: relative;
  width: 100%;
  color: #ddd;
  display: flex;
  justify-content: space-between;

  &,
  &::before {
    background: linear-gradient(to bottom, #252525, #191919);
  }

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    left: calc(50% - 50vw);
    width: 100vw;
    z-index: -1;
  }

  .nav {
    &-right,
    &-left,
    &-center {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  button {
    background: inherit;
    border: none;
    color: inherit;
    height: 100%;
    padding: 0 1rem;
    font-size: inherit;
    font: inherit;

    &:focus {
      outline: none;
    }
    &:hover {
      background: #fff2;
    }
  }
}

.dark {
  background: #191919;
}
